*{
    background-color: rgb(189, 250, 177);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.referencia{
    color: black;
}

#Java{
    color: rgb(38, 0, 255);
}

h1 {
    color:black;
    font-family: sans-serif;
}

h2{
    color: purple;
}

h3{
    color: brown;
}

a{
    color: rgb(3, 155, 243);
}

p{
    color: rgb(240, 5, 83);
}

label{
    color: darkorchid;
}

